body{
    background: radial-gradient(circle at center, #0b1220, #000);
}

#headnav{
background: radial-gradient(circle at center, #0b1220, #000);
}




.card {
  width: 100%;
  height: 100%;
  padding: 15px;
  border: 1px solid #ccc;
  border-radius: 8px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  color: white;
  text-align: center;
}

.card p {
  font-size: 14px;
  color: white;
}

.slider {
  width: 100%;
  height: var(--height);
  overflow: hidden;
  mask-image: linear-gradient(to right, transparent, #000 10% 90%, transparent);
}
.slider .list {
  display: flex;
  width: 100%;
  min-width: calc(var(--width) * var(--quantity));
  position: relative;
}
.slider .list .item {
  width: var(--width);
  height: var(--height);
  position: absolute;
  left: 100%;
  animation: autoRun 25s linear infinite;
  transition: filter 0.5s;
  animation-delay: calc(
    (25s / var(--quantity)) * (var(--position) - 1) - 25s
  ) !important;
}
.slider .list .item img {
  width: 100%;
}
@keyframes autoRun {
  from {
    left: 100%;
  }
  to {
    left: calc(var(--width) * -1);
  }
}
.slider:hover .item {
  animation-play-state: paused !important;
  filter: grayscale(1);
}
.slider .item:hover {
  filter: grayscale(0);
}
.slider[reverse="true"] .item {
  animation: reversePlay 10s linear infinite;
}
@keyframes reversePlay {
  from {
    left: calc(var(--width) * -1);
  }
  to {
    left: 100%;
  }
}










.hero-title {

  
  font-size: 2.5rem;
  color: #7dd3fc; 
  overflow: hidden;
  white-space: nowrap;
  
}

.spline{

  width:100%;
  height:55vh;
 display: flex;
 
 
}


 
  
 


 


.hero{

}

iframe{
  opacity:0.7;

}


#kate{
  color:white ;
}

#katett{
  color: white;
  
}
.kini {
 
}


/* Container: Sets the children side-by-side and allows them to wrap on small screens */
.responsive-section {
  display: flex;
  flex-wrap: wrap;
   padding: 20px; 
  padding-top:calc(30px + 2rem) ;

}

/* Columns: Take up 50% width on large screens (minus gap) */
.column-left, .column-right {
  flex: 1; /* Makes columns grow to fill space */
  min-width: 300px; /* Ensures they don't get too small before wrapping */
}

.column-left{

   
   

}

.column-right{
  display: flex;
flex-direction: column;
gap: 5rem; 
}




.container {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;

   
}

.container .glass {
  position: relative;
  width: 180px;
  height: 200px;
  background: linear-gradient(#fff2, transparent);
  border: 1px solid rgba(255, 255, 255, 0.1);
  box-shadow: 0 25px 25px rgba(0, 0, 0, 0.25);
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.5s;
  border-radius: 10px;
  margin: 0 -45px;
  backdrop-filter: blur(10px);
  transform: rotate(calc(var(--r) * 1deg));
  

}

.container:hover .glass {
  transform: rotate(0deg);
  margin: 0 10px;
}

.container .glass::before {
  content: attr(data-text);
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 40px;
  background: rgba(255, 255, 255, 0.05);
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
}
.container .glass svg {
  font-size: 2.5em;
  fill: #fff;
}




/* ANIMATION */





/* ANUMATION END */







@media (min-width:402px) and (max-width:440px){
   .hero-title {


}
}


@media only screen and (max-width: 767px){
 .hero-title {

  font-size: 23.2px;
}




}


@media (min-width: 767px) and (max-width: 1100px){
.hero{
 
}
 .responsive-section {
  
 
  

}

   .hero-title {

   font-size: 27.2px;
 
}

}


@media (min-width: 960px) {
.spline{
 
}
}



