
body{
   background: radial-gradient(circle at center, #0b1220, #000);
   min-height:100vh;
}




.hero-title {

  
  font-size: 2.5rem;
  color: #7dd3fc; 
  overflow: hidden;
  white-space: nowrap;
  
}

.spline{
  position: -webkit-sticky;
  position: sticky;
  display: flex;
  justify-content: center;
  align-items: center;
  height:50vh;
  
 


 
}

.hero{
transform: translateY(50px);
}

iframe{
  opacity:0.7;

}


#kate{
  color:white ;
}

#katett{
  color: white;
  
}
.kini {
  opacity:0;
  transform: translateY(30px);
}


/* Container: Sets the children side-by-side and allows them to wrap on small screens */
.responsive-section {
  display: flex;
  flex-wrap: wrap;
  gap: 20px; /* Optional spacing between columns */
  padding: 20px;
}

/* Columns: Take up 50% width on large screens (minus gap) */
.column-left, .column-right {
  flex: 1; /* Makes columns grow to fill space */
  min-width: 300px; /* Ensures they don't get too small before wrapping */
}




/* From Uiverse.io by codebykay101 */ 
.container {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  transform: translateY(50px);
   
}

.container .glass {
  position: relative;
  width: 180px;
  height: 200px;
  background: linear-gradient(#fff2, transparent);
  border: 1px solid rgba(255, 255, 255, 0.1);
  box-shadow: 0 25px 25px rgba(0, 0, 0, 0.25);
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.5s;
  border-radius: 10px;
  margin: 0 -45px;
  backdrop-filter: blur(10px);
  transform: rotate(calc(var(--r) * 1deg));
  

}

.container:hover .glass {
  transform: rotate(0deg);
  margin: 0 10px;
}

.container .glass::before {
  content: attr(data-text);
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 40px;
  background: rgba(255, 255, 255, 0.05);
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
}
.container .glass svg {
  font-size: 2.5em;
  fill: #fff;
}




ANIMATION


.social-login-icons {
  display: flex;
  align-items: center;
  gap: 10px;
  -webkit-box-reflect: below 5px linear-gradient(transparent, #00000055);
}
.social-login-icons svg {
  width: 40px;
}

.social-icon-1,
.social-icon-1-1,
.social-icon-2,
.social-icon-2-2,
.social-icon-3,
.social-icon-3-3,
.social-icon-4,
.social-icon-4-4 {
  width: 50px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50px;
  margin: 20px 0 0px 0;
}

.icon svg {
  fill: #111;
}

.socialcontainer {
  height: 80px;
  overflow: hidden;
  
}
.social-icon-1 {
  transition-duration: 0.4s;
  background-color: rgb(0, 0, 0);
  transition-timing-function: cubic-bezier(0.46, -0.78, 0.5, 1.56);
}
.social-icon-1 svg,
.social-icon-2 svg,
.social-icon-3 svg,
.social-icon-4 svg {
  opacity: 0;
  transition-duration: 0.5s;
  transition-delay: 0.2s;
}
.social-icon-1-1,.social-icon-2-2,.social-icon-3-3,.social-icon-4-4 {
  transition-duration: 0.4s;
  background-color: rgba(248, 247, 247, 0.93);
  
}
.socialcontainer:hover .social-icon-1 {
  transform: translateY(-70px);
}
.socialcontainer:hover .social-icon-1 svg,
.socialcontainer:hover .social-icon-2 svg,
.socialcontainer:hover .social-icon-3 svg,
.socialcontainer:hover .social-icon-4 svg {
  opacity: 1;
}
.social-icon-2 {
  transition-duration: 0.4s;
  transition-timing-function: cubic-bezier(0.46, -0.78, 0.5, 1.56);
  background: linear-gradient(
    72.44deg,
    #ff7a00 11.92%,
    #ff0169 51.56%,
    #d300c5 85.69%
  );
}
.socialcontainer:hover .social-icon-2 {
  transform: translateY(-70px);
}
.social-icon-3 {
  transition-duration: 0.4s;
  transition-timing-function: cubic-bezier(0.46, -0.78, 0.5, 1.56);
  background: #316ff6;
}

.socialcontainer:hover .social-icon-3 {
  transform: translateY(-70px);
}
.social-icon-4 {
  transition-duration: 0.4s;
  transition-timing-function: cubic-bezier(0.46, -0.78, 0.5, 1.56);

  background: linear-gradient(
    180deg,
    rgba(129, 34, 144, 1) 0%,
    rgba(77, 34, 124, 1) 91%
  );
}

.socialcontainer:hover .social-icon-4 {
  transform: translateY(-70px);
}


.spinner {
  width: 30px;
  height: 30px;
  cursor: not-allowed;
  border-radius: 50%;
  border: 2px solid #444;
  box-shadow: -10px -10px 10px #6359f8, 0px -10px 10px 0px #9c32e2, 10px -10px 10px #f36896, 10px 0 10px #ff0b0b, 10px 10px 10px 0px#ff5500, 0 10px 10px 0px #ff9500, -10px 10px 10px 0px #ffb700;
  animation: rot55 0.7s linear infinite;
}

.spinnerin {
  border: 2px solid #444;
  width: 1.5em;
  height: 1.5em;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

@keyframes rot55 {
  to {
    transform: rotate(360deg);
  }
}







/* ANUMATION END */











@media only screen and (max-width: 600px){
    .spline{

 transform: translateY(100px);
 
}

.container{
   transform: translateY(50px);
}


  }


/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (max-width: 1100px) {

  .hero-title {

  font-size: 1.8rem;
  
  
}

.hero{}

}


@media only screen and (max-width: 800px){
  .hero-title{
      font-size: 1.5rem;
      
  }

  

}

@media (min-width: 768px) and (max-width: 1024px) {

.column-right{
  transform: translateY(120px);
}
  .container {
transform: translateY(50px);
   
}


}



/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {

/*   
.spline{
  position: -webkit-sticky;
  position: sticky;
  display: flex;
  justify-content: center;
  align-items: center;
  height:50vh;
  
 
  

} */
}
/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {


.spline{
  transform: translatey(-100px);
  height:100vh;
  
 

}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {

}

















