
body{
   background: radial-gradient(circle at center, #0b1220, #000);
   min-height:100vh;
}




.hero-title {

  
  font-size: 2.5rem;
  color: #7dd3fc; 
  overflow: hidden;
  white-space: nowrap;
  
}

.spline{
  position: -webkit-sticky;
  position: sticky;
  display: flex;
  justify-content: center;
  align-items: center;
  height:50vh;
  
 


 
}

.hero{
transform: translateY(50px);
}

iframe{
  opacity:0.9;

}


#kate{
  color:white ;
}

#katett{
  color: white;
  
}
.kini {
  opacity:0;
  transform: translateY(30px);
}


/* Container: Sets the children side-by-side and allows them to wrap on small screens */
.responsive-section {
  display: flex;
  flex-wrap: wrap;
  gap: 20px; /* Optional spacing between columns */
  padding: 20px;
}

/* Columns: Take up 50% width on large screens (minus gap) */
.column-left, .column-right {
  flex: 1; /* Makes columns grow to fill space */
  min-width: 300px; /* Ensures they don't get too small before wrapping */
}




/* From Uiverse.io by codebykay101 */ 
.container {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  transform: translateY(50px);
   
}

.container .glass {
  position: relative;
  width: 180px;
  height: 200px;
  background: linear-gradient(#fff2, transparent);
  border: 1px solid rgba(255, 255, 255, 0.1);
  box-shadow: 0 25px 25px rgba(0, 0, 0, 0.25);
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.5s;
  border-radius: 10px;
  margin: 0 -45px;
  backdrop-filter: blur(10px);
  transform: rotate(calc(var(--r) * 1deg));
  

}

.container:hover .glass {
  transform: rotate(0deg);
  margin: 0 10px;
}

.container .glass::before {
  content: attr(data-text);
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 40px;
  background: rgba(255, 255, 255, 0.05);
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
}
.container .glass svg {
  font-size: 2.5em;
  fill: #fff;
}









@media only screen and (max-width: 600px){
    .spline{

 transform: translateY(100px);
 
}

.container{
   transform: translateY(50px);
}


  }


/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (max-width: 1100px) {

  .hero-title {

  font-size: 1.8rem;
  
  
}

.hero{}

}


@media only screen and (max-width: 800px){
  .hero-title{
      font-size: 1.5rem;
      
  }

  

}

@media (min-width: 768px) and (max-width: 1024px) {

.column-right{
  transform: translateY(120px);
}
  .container {
transform: translateY(50px);
   
}


}



/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {

  
  

}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {

}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {

}

















